<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="nav-bar">
    <nav>
      <a id="home" href="/">Home</a>
      {{#if logged_in}}
      <a id="dash" href="/dashboard">Dashboard</a>
      <a id="logout">Logout</a>
      {{else}}
      <a id="login" href="/login">Login</a>
      <a id="signup" href="/signup">Sign Up</a>
      {{/if}}
      <header>
        <h1>
          Blog
        </h1>
      </header>
    </nav>
  </div>
    
  <main id="body" class="container container-fluid mt-5">
    {{{body}}}
  </main>
  
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{else}}
  <script src="/js/login.js"></script>
  <script src="/js/signup.js"></script>
  {{/if}}
</body>
</html>
