<head>
  <meta charset="UTF-8">
  <title>Star Wars Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
      <h1>
        Star Wars Blog
      </h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/dashboard/:id">Dashboard</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </nav>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </body>
</html>