<head>
  <meta charset="UTF-8">
  <title>Star Wars Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="nav-bar">
  <nav>
        <a id="home" href="/">Home</a>
        <a id="dash" href="/dashboard/:id">Dashboard</a>
        <a id="login" href="/login">Login</a>
        <a id="logout" href="/logout">Logout</a>
        <header>
      <h1>
        Star Wars Blog
      </h1>
    </header>
    </nav>
  </div>
    
    
      <main id="body" class="container container-fluid mt-5">
        {{{body}}}
      </main>
  </body>
</html>