<section class="container">
  <h3 class="title">{{comment.title}}</h3>
  <section class="flex-row justify-center">
   <p>{{comment.description}}</p>
   <p>{{comment.user_id}}</p>
  </section>
</section>