<div id="editPost-form">
    <form>
        <div class="title-section">
        <label>Update Title</label>
        <input type="text" id="title-update">
        </div>
        <div class="description-section">
            <label>Update Description</label>
            <input type="text" id="update-description">
        </div>
        <button type="submit" id="editPost-btn">Update</button>
    </form>
</div>