<div class="edit-area">
    <div class="edit-card">
    <form id="editPost-form">
        <div class="field">
        <div class="title-section">
        <label class="label">Update Title</label>
        <div class="control">
        <input class="input" type="text" id="title-update" placeholder="Title">
        </div>
        </div>
        </div>
        <div class="description-section">
            <div class="field">
            <label class="label">Update Description</label>
            <div class="control">
            <input class="input" type="text" id="update-description" placeholder="Description">
            </div>
        </div>
        </div>
        <button class="button" type="submit" id="editPost-btn">Update</button>
    </form>
    </div>
</div>

<script src="/js/editPost.js"></script>