<h2>Login</h2>

<form class="login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class=" form form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<div class="sign-btn">
<h2>
  Don't have an account, sign up!
</h2>
<a href="/signup">SignUp</a>
</div>

<script src="/js/login.js"></script>




