<section class="card">
      <header class="title">{{post.title}}</header>
    <p>{{post.description}}</p>
    <p>{{post.user_id}}</p>
    <p>{{post.createdAt}}</p>
</section>

<form>
    <label>Comment</label>
    <input type="text" id="comment-form">
    <button id="submit-comment">Submit</button>
</form>