<div class="form">
    <form>
        <div>
        <label>Title</label>
        <input id="title-input" type="text">
        </div>
        <div>
            <label>Description</label>
            <input id="description-input" type="text">
        </div>
        <button id="postForm-btn" type="submit">Submit</button>
    </form>
</div>