<h1 id="user-id">{{user_id}}</h1>
<div class="form">
    <form id="post-form">
        <div>
        <label>Title</label>
        <input id="title-input" type="text">
        </div>
        <div>
            <label>Description</label>
            <input id="description-input" type="text">
        </div>
        <button id="postForm-btn" type="submit">Submit</button>
    </form>
</div>

<script src="/js/postForm.js"></script>