body{
   background-color: black;
    font-family: 'Arial', sans-serif;
}
a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 30px;
    transition: all 1s ease-out;
}

h1{
    color: black;
    font-size: 35px;
    padding: 20px;
    border: 2px solid white;
    width: 15%;
    margin-left: 30px;
    margin-top: 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(137, 134, 134);
}

#body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title{
    color: black;
    background-color: gold;
    height: 40px;
    margin-top: -30px;
    border: 0px solid gold;
    font-size: 25px;
    font-weight: bold;
}

.card{
    border: 2px solid gold;
    width: 75%;
    margin-top: 30px;
}

p{
    margin-left: 10px;
    color: white;
}

#home:hover {
    box-shadow: 0 0 40px red;
}

#dash:hover {
    box-shadow: 0 0 40px rgb(6, 200, 6);
}

#login:hover{
    box-shadow: 0 0 40px rgb(18, 102, 237);
}

#logout:hover{
    box-shadow: 0 0 40px rgb(174, 0, 255);
}